<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>用户登录</title>
    <link rel="stylesheet" href="__SYSTEM__/css/pintuer.css">
    <link rel="stylesheet" href="__SYSTEM__/css/admin.css">
    <link rel="stylesheet" href="__LIBS__/beAlert/css/beAlert.css">

    <script src="__SYSTEM__/js/jquery.js"></script>
    <script src="__SYSTEM__/js/pintuer.js"></script>
    <script src="__SYSTEM__/js/respond.js"></script>
    <script src="__LIBS__/beAlert/js/beAlert.js"></script>
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
    <link href="/favicon.ico" rel="bookmark icon" />
    <style>
        .bg{
            background: url('__SYSTEM__/images/web_bj.jpg') repeat;
        }
        .foot_a{
            padding: 0px 10px;
        }
        .login_desc{
            font-size: 16px;
            color: #587686;
            font-weight: bold;
            line-height: 24px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
</head>

<body class="bg">
<div class="container">
    <div class="line">
        <div class="xs6 xm4 xs3-move xm4-move">
            <br /><br />
            <div class="media media-y">
                <a href="#" target="_blank"><img src="__SYSTEM__/images/logo.png" class="radius" alt="用户登录" /></a>
            </div>
            <br/>
            <p class="login_desc">这里是一个简介，这是一个<br/>这里是一个简介这里是一个简介</p>
            <br />

            <form action="{:getU('signin',true)}" method="post" id="login_form">
                <div class="panel">
                    <div class="panel-head" style="text-align: center"><strong>用户登录</strong></div>
                    <div class="panel-body" style="padding:30px;">
                        <div class="form-group">
                            <div class="field">
                                <div class="input-group">
                                    <span class="addon icon-user"></span>
                                    <input type="number" class="input" id="mobile" name="mobile" size="20" placeholder="请输入手机号" data-validate="required:请填写账号,length#==11:手机号码格式有误" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field">
                                <div class="input-group">
                                    <span class="addon icon-key"></span>
                                    <input type="password" class="input" id="password" name="password" size="20" placeholder="登录密码" data-validate="required:请填写密码,length#>=5:密码至少6个字符" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field">
                                <div class="button-group radio">
                                    <label class="button active">
                                        <input name="frever" value="1" checked="checked" type="radio"><span class="icon icon-check text-green"></span> 记住
                                    </label>
                                    <label class="button">
                                        <input name="frever" value="2" type="radio"><span class="icon icon-times"></span> 取消
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {__TOKEN__}
                    <div class="panel-foot text-center"><span class="get_pointer button button-block bg-main text-big" onclick="checkParame()">立即登录</span></div>
                </div>
            </form>
            <div class="text-center text-gray text-gray padding-top" style="margin-top: 15px;">
                <a href="{:getU('register',true)}" class="text-gray foot_a">注册帐号</a> |
                <a href="/" class="text-gray foot_a">首页</a> |
                <a href="{:getU('findpwd',true)}" class="text-gray foot_a">找回密码</a>
            </div>
        </div>
    </div>
</div>

<script>
    function checkParame(){
        var mobile = $("#mobile").val();
        var pwd    = $("#password").val();
        if(mobile == '' || pwd == ''){
            alert('手机号与密码不能为空！');
            return false;
        }
        var preg = /^1[3456789]\d{9}$/;
        if(!preg.test(mobile)){
            alert("手机号码有误!");
            return false;
        }
        $("#login_form").submit();
    }
</script>
</body>
</html>