<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Admin@Public:top"/>
    <title>{$top_nav}</title>
</head>
<body>
<div class="line-big">
    <div class="xm12" style="margin-top: 3px;">
        <div class="panel">
            <div class="panel-head"><strong><span class="icon-lightbulb-o" style="color: green;font-size: 14px;"></span> 欢迎您使用本套系统，后台管理必备工具。</strong></div>
        </div><br/>
    </div>

    <div class="xm12">
        <div class="panel">
            <div class="panel-head"><strong>个人信息</strong></div>
            <ul class="list-group">
                <li><span class="icon-user"></span> 您好：{$Think.session.login_user.username}！上次登陆时间：{$Think.session.login_user.last_time|date="Y-m-d H:i",###}，上次登陆ip：{$Think.session.login_user.last_ip}</li>
            </ul>
        </div><br/>
    </div>

    <div class="xm6">
        <div class="panel">
            <div class="panel-head"><strong>系统信息</strong></div>
            <div  style="padding: 0 15px;">
                <table class="table table-hover">
                    <tr style="border-top: none">
                        <td style="width: 30%;border-top: none">操作系统</td>
                        <td style="border-top: none">{$mac}</td>
                    </tr>
                    <tr>
                        <td style="width: 30%">系统版本</td>
                        <td>{$xt_ver}</td>
                    </tr>
                    <tr>
                        <td style="width: 30%">服务器</td>
                        <td>{$soft}</td>
                    </tr>
                    <tr>
                        <td style="width: 30%">磁盘剩余大小</td>
                        <td>{$disk_free}</td>
                    </tr>
                    <tr>
                        <td style="width: 30%">MYSQL版本</td>
                        <td>{$mysql_v}</td>
                    </tr>
                    <tr>
                        <td style="width: 30%">MYSQL大小</td>
                        <td>{$mysql_size}</td>
                    </tr>
                    <tr>
                        <td style="width: 30%">北京时间</td>
                        <td>{$time}</td>
                    </tr>
                </table>
            </div>

        </div>
        <br />
    </div>
    <div class="xm6">
        <div class="panel">
            <div class="panel-head"><strong>开发信息</strong></div>
            <div  style="padding: 0 15px;">
                <table class="table table-hover">
                    <tr style="border-top: none">
                        <td style="width: 30%;border-top: none">系统名称</td>
                        <td style="border-top: none">授权系统</td>
                    </tr>
                    <tr>
                        <td style="width: 30%">程序开发</td>
                        <td>刘建凡</td>
                    </tr>
                    <tr>
                        <td style="width: 30%">EMAIL</td>
                        <td>791845283@qq.com</td>
                    </tr>
                    <tr>
                        <td style="width: 30%">官方网址</td>
                       <td><a href="http://dayblog.cn" target="_blank">http://dayblog.cn</a></td>
                    </tr>
                    <tr>
                        <td style="width: 30%">本站网址</td>
                        <td>{:C('WEB_DOMAIN')}</td>
                    </tr>
                    <tr>
                        <td style="width: 30%">核心框架</td>
                        <td>ThinkPHP 3.2</td>
                    </tr>
                    <tr>
                        <td style="width: 30%">程序版本</td>
                        <td>V1.1.0</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
</body>
</html>