<div class="lefter">
    <div class="logo"><a href="#" target="_blank"><img src="__SYSTEM__/images/logo.png" alt="后台管理系统" /></a></div>
</div>
<div class="righter nav-navicon" id="admin-nav">
    <div class="mainer">
        <div class="admin-navbar">
            <span class="float-right">
            	<a class="button button-little bg-main" href="{:C('WEB_DOMAIN')}" target="_blank">前台首页</a>
                <a class="button button-little bg-yellow" href="{:getU('Public/logout')}">注销登录</a>
            </span>
            <ul class="nav nav-inline admin-nav">
                <volist name="admin_menu_url" id="vo">
                    <li class="one_li">
                        <a href="javascript:;" onclick="getLeftMenu(this)" class="{$vo.icon}">{$vo.name}</a>
                        <ul>
                            <volist name="vo['son']"  id="one_son">
                                <li class="active">
                                    <a href="javascript:;" data-url="{:getU($one_son['url'].'/index')}" class="one_tit">{$one_son['name']}</a>
                                    <span class="icon-angle-double-down"></span>
                                </li>
                                <div class="group_ol">
                                    <volist name="one_son['son']"  id="second_son">
                                        <ol class="li_son">
                                            <a href="{:getU($second_son['name'])}" target="main_box" onclick="navtoggle(this)">
                                                <span class="icon-angle-double-right"></span>
                                                <span class="second_tit">{$second_son['title']}</span>
                                            </a>
                                        </ol>
                                    </volist>
                                </div>
                            </volist>
                        </ul>
                    </li>
                </volist>
            </ul>
        </div>
        <div class="admin-bread">
            <span>您好，{$UserName}，欢迎您的光临。</span>
            <ul class="bread">
                <li><a href="{:getU('Admin/index')}" class="icon-home"> 开始</a></li>
                <li class="show_navtoggle">后台主页</li>
            </ul>
        </div>
    </div>
</div>
<script>

    function getLeftMenu(obj){
        $(obj).closest('.admin-nav').find('.one_li').removeClass('active');
        $(obj).parent().addClass('active');
    }

    function navtoggle(obj){
        var second_tit = $(obj).find('.second_tit').html();
        var one_tit    = $(obj).closest(".group_ol").prev().find(".one_tit").html();
        var tit = one_tit+" / "+second_tit;
        $(".show_navtoggle").html(tit);
    }

    $(function(){
        $(".admin-nav").find(".one_li").eq(0).addClass('active');

        $(".admin-nav>li").click(function(){
            $(".admin-nav>li").removeClass('active');
            $(this).addClass('active');
            $(".admin-nav li").each(function(){
                $(this).find('ul').hide();
            });
            $(this).find('ul').show();
        });
        $(".admin-nav ul ol").mouseover(function(){
            $(this).find("span").eq(0).show();
            $(this).find("span").eq(1).css('margin-left','0');
        });
        $(".admin-nav ul ol").mouseout(function() {
            $(this).find("span").eq(0).hide();
            $(this).find("span").eq(1).css('margin-left', '12px');
        });

    })
</script>