<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="keywords" content="后台管理系统" />
<meta name="description" content="后台管理系统" />

<link rel="stylesheet" href="__SYSTEM__/css/pintuer.css">
<link rel="stylesheet" href="__SYSTEM__/css/admin.css">
<link rel="stylesheet" href="__LIBS__/beAlert/css/beAlert.css">

<script src="__SYSTEM__/js/jquery.js"></script>
<script src="__SYSTEM__js/pintuer.js"></script>
<script src="__SYSTEM__js/respond.js"></script>
<script src="__SYSTEM__js/admin.js"></script>
<script src="__LIBS__/beAlert/js/beAlert.js"></script>
<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
<link href="/favicon.ico" rel="bookmark icon" />


<!-- 树形控件 -->
<link rel="stylesheet" href="__SYSTEM__/plugin/Ztree/css/zTreeStyle.css" />
<script src="__SYSTEM__/plugin/Ztree/jquery.ztree.core-3.5.min.js"></script>
<script src="__SYSTEM__/plugin/Ztree/jquery.ztree.excheck-3.5.min.js"></script>
<script src="__SYSTEM__/plugin/Ztree/jquery.ztree.exedit-3.5.min.js"></script>
