<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Admin@Public:top"/>
    <title>{$top_nav}</title>
</head>
<body>
<form method="post">
    <div class="panel admin-panel">
        <div class="panel-head tips"><strong>{$top_nav}</strong></div>
        <div class="padding border-bottom">
            <a href="javascript:;" class="button button-small border-blue dialogs" data-url="__CONTROLLER__/addgroup" data-toggle="click"  data-mask="1" data-width="45%" >添加分组</a>
        </div>

        <table class="table table-hover txt_center">
            <tr>
                <th width="45" style="text-align: center">序号</th>
                <th width="150" style="text-align: center">分组名称</th>
                <th width="*" style="text-align: center">描述</th>
                <th width="90" style="text-align: center">排序</th>
                <th width="180" style="text-align: center">创建时间</th>
                <th width="220" style="text-align: center">操作</th>
            </tr>

            <volist name="list" id="row" >
            <tr>
                <td style="text-align: center">{++$key}</td>
                <td style="text-align: center">{$row.title}</td>
                <td style="text-align: center">{$row.desc}</td>
                <td style="text-align: center"><input type="number" class="input set_sort" data-id="{$row.id}" style="width: 60px;text-align: center;margin: 0 auto;" size="12" value="{$row.sort}" /></td>
                <td style="text-align: center">{$row.createtime|formatTime=###,2}</td>
                <td style="text-align: center">
                    <a class="button border-yellow button-little" href="__CONTROLLER__/groupaccess/id/{$row.id}" >分配权限</a>
                    <a href="jsvascript:;" class="button border-blue button-little dialogs" data-url="__CONTROLLER__/addgroup/id/{$row.id}" data-toggle="click"  data-mask="1" data-width="45%">修改</a>
                    <a class="button border-red button-little" href="jsvascript:;" onclick="{if(confirm('确认删除?')){return true;}return false;}">删除</a>
                </td>
            </tr>
            </volist>

             </table>
    </div>
</form>
<br />

<script>
    $('.set_sort').blur(function(){
        var id = $(this).data('id');
        var sort = $(this).val();
        var url = "__CONTROLLER__/groupsort";
        $.post(url,{'id':id,'sort':sort},function(data){
            shopShortTip(".tips",data.message);
        },'json');
    });
</script>
</body>
</html>