<!DOCTYPE html>
<html lang="en">
<head>
    <include file="Admin@Public:top"/>
    <title>{$top_nav}</title>
</head>
<body>

    <div class="panel admin-panel">
        <div class="panel-head"><strong>{$top_nav}</strong></div>
        <div class="padding border-bottom">
            <input type="button" class="button button-small checkall" name="checkall" checkfor="id" value="全选" />
            <a href="__CONTROLLER__/addCate" class="button button-small border-blue">添加分类菜单</a>
            <input type="button" class="button button-small border-red" value="批量删除" />
        </div>
        <table class="table table-hover txt_center">
            <tr>
                <th width="80">选框</th>
                <th width="120">id</th>
                <th width="*">菜单名</th>
                <th width="*">规则</th>
                <th width="200">排序</th>
                <th width="320">操作</th>
            </tr>

            <volist name="parentCate" id="cate">
                <tr>
                    <td colspan="3" style="text-align: left">
                        <strong>{$cate.title}</strong>&nbsp;&nbsp;
                    </td>
                    <td>{$cate.name}</td>
                    <td><input type="text" class="input" placeholder="排序" value="{$cate.sort}" style="width: 60px;text-align: center;margin: 0 auto;"/></td>
                    <td>
                        <a class="button border-blue button-little" href="__CONTROLLER__/addMenu/id/{$cate.id}">添加菜单</a>
                        <a class="button border-green button-little" href="__CONTROLLER__/addCate/id/{$cate.id}">修改菜单</a>
                        <a class="button border-red button-little" href="javascript:;" data-url="__CONTROLLER__/delMenu/id/{$son.id}" onclick="sure_del(this)">删除菜单</a>
                    </td>
                </tr>

                <volist name="cate['son_cate']" id="son">
                <tr>
                    <td><input type="checkbox" name="id" value="{$son.id}" /></td>
                    <td>{$son.id}</td>
                    <td>{$son.title}</td>
                    <td>{$son.name}</td>
                    <td><input type="text" class="input" placeholder="排序" value="{$son.sort}" style="width: 60px;text-align: center;margin: 0 auto;"/></td>
                    <td>
                        <a class="button border-blue button-little" href="__CONTROLLER__/showSon/id/{$son.id}">查子菜单</a>
                        <a class="button border-green button-little" href="__CONTROLLER__/editMenu/id/{$son.id}">修改菜单</a>
                        <a class="button border-red button-little" href="javascript:;" data-url="__CONTROLLER__/delMenu/id/{$son.id}" onclick="sure_del(this)">删除菜单</a>
                    </td>
                </tr>
                </volist>

            </volist>

         </table>
        <div class="panel-foot text-center">
            <ul class="pagination"><li><a href="#">上一页</a></li></ul>
            <ul class="pagination pagination-group">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
            <ul class="pagination"><li><a href="#">下一页</a></li></ul>
        </div>
    </div>
<br />
    <script>
        function sure_del(obj){
            var url = $(obj).data('url');
            confirm("确认删除么？","",function(isConfirm){
                if(isConfirm){
                    window.location.href = url;
                }
            });
            window.location.href = url;
        }
    </script>
</body>
</html>