<div class="dialog">
    <div class="dialog-head">
        <span class="close rotate-hover"></span><strong><empty name="admin">添加<else/>修改</empty>管理员</strong>
    </div>
    <form action="__CONTROLLER__/addRoot" method="post" class="one_main">
    <div class="dialog-body">
        <div class="form-group">
            <div class="field">
                <input type="text" class="input" value="{$admin.username}" name="username" size="30" placeholder="请输入用户名" />
            </div>
        </div>
        <empty name="admin">
            <div class="form-group">
                <div class="field">
                    <input type="password" class="input"  value="" name="password" size="30" placeholder="请输入密码" />
                </div>
            </div>
        </empty>
        <div class="form-group">
            <div class="field">
                <input type="text" class="input"  value="{$admin.name}" name="name" size="30" placeholder="请输入姓名" />
            </div>
        </div>
        <div class="form-group">
            <div class="field">
                <input type="text" class="input"  value="{$admin.phone}" name="phone" size="30" placeholder="请输入手机" />
            </div>
        </div>
        <div class="form-group">
            <div class="field">
                <input type="text" class="input"  value="{$admin.email}" name="email" size="30" placeholder="请输入邮箱" />
            </div>
        </div>
    </div>

    <div class="dialog-foot">
        <button class="button dialog-close">取消</button>
        <input type="hidden" name="id" value="{$admin.id}">
        <notempty name="admin">
            <span class="button bg-yellow" data-main="one" onclick="show_main(this,'one')">修改密码</span>
        </notempty>
        <button class="button bg-green" type="submit">确认</button>
    </div>
    </form>


    <form action="__CONTROLLER__/addRoot" method="post" style="display: none" class="two_main">
        <div class="dialog-body" >
            <div class="form-group">
                <div class="field">
                    <input type="password" class="input"  value="" name="old_password" size="30" placeholder="请输入旧密码" />
                </div>
            </div>
            <div class="form-group">
                <div class="field">
                    <input type="password" class="input"  value="" name="password" size="30" placeholder="请输入新密码" />
                </div>
            </div>
        </div>
        <div class="dialog-foot">
            <button class="button dialog-close">取消</button>
            <input type="hidden" name="id" value="{$admin.id}">
            <notempty name="admin">
                <span class="button bg-yellow" data-main="one" onclick="show_main(this,'two')">取消密码</span>
            </notempty>
            <button class="button bg-green" type="submit">确认</button>
        </div>
    </form>

</div>
<script>
    function show_main(obj,main){
        if(main == 'one'){
            $(".one_main").hide();
            $(".two_main").show();
        }else{
            $(".two_main").hide();
            $(".one_main").show();
        }
    }
</script>